<% title "Comments" %>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <% for comment in @comments %>
    <tr>
      <td><%= link_to comment.user.name, comment.user %></td>
      <td><%= link_to comment.title, comment %></td>
      <td><%=h comment.body %></td>
      <td><%= link_to "Edit", edit_comment_path(comment) %></td>
      <td><%= link_to "Destroy", comment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Comment", new_comment_path %></p>
