<h1>Listing roles</h1>

<%= link_to 'New role', new_role_path %>
<div id="shade-list">
<table cellspacing=0 cellpadding =4>
  <tr>
    <th>Name</th>
  </tr>

<% for role in @roles %>
  <tr class= "<%= cycle("even", "odd") %>">
    <td><%= link_to role.name, role %></td>
    <td><%= link_to 'Edit', edit_role_path(role) %></td>
    <td><%= link_to 'Delete', role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<br />

