<% title "Comments" %>

<p><%= link_to "New Comment", new_comment_path %></p>

<div id="shade-list">
<table cellspacing=0 cellpadding =4>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <% for comment in @comments %>
    <tr class= "<%= cycle("even", "odd") %>">
      <td><%= link_to comment.user.name, comment.user %></td>
      <td><%= link_to comment.title, comment %></td>
      <td><%=h comment.body %></td>
      <td><%= link_to "Edit", edit_comment_path(comment) %></td>
      <td><%= link_to "Delete", comment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
</div>

