<% title "Comments for #{@user ? @user.name : 'all users'}" %>

<table>
  <tr>
    <% if @user.nil? -%>
    <th>User Name</th>
    <% end -%>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <% for comment in @comments %>
    <tr>
      <% if @user.nil? -%>
        <td><%= comment.user.name %></td>
      <% end %>
      <td><%= link_to comment.title, user_comment_path(comment.user, comment) %></td>
      <td><%=h comment.body %></td>
      <td><%= link_to "Edit", edit_user_comment_path(comment.user, comment) %></td>
      <td><%= link_to "Destroy", [comment.user,comment], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<% if @user %>
  <p><%= link_to "Add comment for #{@user.name}", new_user_comment_path(@user) %></p>
  <p><%= link_to "View all comments", comments_path %></p>
<% end %>
