<% title "Comments for #{@user.name}" %>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <% for comment in @comments %>
    <tr>
      <td><%= link_to comment.title, user_comment_path(@user, comment) %></td>
      <td><%=h comment.body %></td>
      <td><%= link_to "Edit", edit_user_comment_path(@user, comment) %></td>
      <td><%= link_to "Destroy", [@user,comment], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Comment", new_user_comment_path(@user) %></p>
