<% title "Comment" %>

<p>
  <strong>Title:</strong>
  <%=h @comment.title %>
</p>
<p>
  <strong>netid:</strong>
  <%=h @comment.user.netid %>
</p>
<p>
  <strong>User:</strong>
  <%=h @comment.user.name %>
</p>
<p>
  <strong>Body:</strong>
  <%=h @comment.body %>
</p>

<p>
  <%= link_to "Edit", edit_user_comment_path(@user, @comment) %> |
  <%= link_to "Destroy", [@user, @comment], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All comments for #{@user.name}", user_comments_path(@user) %>
</p>
