<div id="nav_top">
    <ul class="no_underlined">
      <li class="<%= tab('users') %>"><%= link_to "Users", users_path %></li>
      <li class="<%= tab('comments') %>"><%= link_to "Comments", comments_path %></li>
      <li class="<%= tab('roles') %>"><%= link_to "Roles", roles_path %></li>
    <ul>
</div>  
