<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
  <head>
  <title>Roster</title>
    <%= stylesheet_link_tag "application.css" , :media => "all" %>
  </head>
  
<body id="store">
  <div id="banner">
    <p><%= link_to "New User", new_user_path %> &nbsp &nbsp &nbsp &nbsp
     <%= link_to "Mass Add Users", :action => :mass_add %></p>
  </div>
 <div id="side">
    <%= link_to "Roles", roles_path %><br />
    <%= link_to "Comments", comments_path %><br />
   </div>
   <div id="main">
     <%= yield :layout %>
   </div>
   </div>
</body>
</html>
