<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :netid %><br />
    <%= f.text_field :netid %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <% @roles.each do |role| -%>
  <p>
	  <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
	  <%= role.name %>
  </p>
  <% end %>
  
  <p><%= f.submit "Submit" %></p>
<% end %>
