<% title "Users" %>

<p><%= link_to "New User", new_user_path %> &nbsp &nbsp &nbsp &nbsp
   <%= link_to "Mass Add Users", :action => :mass_add %></p>

<div id="main">
  <table>
    <tr>
      <th>Name</th>

    </tr>
    <% for user in @users %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
    	  <td><%= link_to "Comments", comments_path %></td>
      </tr>
    <% end %>
  </table>
</div>

