<% title "Users" %>
<p><%= link_to "New User", new_user_path %> <%= link_to "Mass Add Users", :action => :mass_add %></p>
<div id="shade-list">
<table cellspacing=0 cellpadding =10>
    <tr>
    <th>Name</th>
  </tr>
  <% for user in @users %>
    <tr class= "<%= cycle("even", "odd") %>">
      <td><%= link_to user.name, user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Delete", user, :confirm => 'Are you sure?', :method => :delete %></td>
	  <td><%= link_to "Comments", Comment %></td>
    </tr>
  <% end %>
</table>
</div>

