<% title "User" %>

<p>
  <strong>Netid:</strong>
  <%=h @user.netid %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @user.name %>
</p>
<p>
  <%= link_to "Add Comment", new_user_comment_path(@user) %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <% for comment in @user.comments %>
    <tr>
      <td><%= link_to comment.title, user_comment_path(@user, comment) %></td>
      <td><%=h comment.body %></td>
      <td><%= link_to "Edit", edit_user_comment_path(@user, comment) %></td>
      <td><%= link_to "Destroy", [@user,comment], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
