<% title "User" %>

<p>
  <strong>Netid:</strong>
  <%=h @user.netid %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @user.name %>
</p>

<% @user.comments.each do |c| %>

<p>
  <strong>Comment title:</strong>
  <%=h c.title %>
</p>

<p>
  <strong>Comment body:</strong>
.body %>
</p>

<% end %>
<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
